.containerFilter {
  display: flex;
  justify-content: flex-start;

  position: fixed;
  top: 0;
  left: -400px;
  width: 350px;
  padding-left: 10px;

  color: #555;
  background-color: #f2f2f2;
  height: 100%;
  padding-top: 70px;
  transition: all 0.3s linear;
  z-index: 3;
}

.active {
  left: 0;
}
.filterTipo {
  display: flex;
  flex-direction: column;
}

.filterTipo span {
  font-weight: 700;
  font-size: 22px;
}
/* -----Botones abrir y cerrar filtro --- */
/* ON */
.boxBtn {
  display: flex;
  align-items: center;
  margin: 5px 20px 20px 20px;
  gap: 10px;
  border-radius: 10px;
  background: #1D3557;
  padding: 10px;
}
.btn {
  background: none;
  border: none;
  cursor: pointer;
  
}
.btnTwo{
  
  border-radius: 5px;
  width: 50px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s ease all;
  background-color: #E63946;
  
  &:hover {
    background: #457b9d;
    color: #5c5c5c;
  }
}
.imgFilter{
  filter: invert(100%);
}
.filterB {
  color: #ffffff;
  font-weight: 700;
}

/* OFF */
.btnfilterClose {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom:30px;
  
}
.btnClose {

  width: 80px;
  align-items: flex-start;
  border: 1px solid grey;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease all;
  font-weight: 700;
  
  &:hover {
    background: #e63946;
    color: #fff;
    
  }
}
@media (max-width: 768px) {
  .containerFilter {
    width: 100%;
  }
}
