.container {
  height: auto;
  background-color: #1d3557;
  color: white;
  text-align: center;
  padding: 1em;
  margin-top: 1em;
}
.icon{
    filter: invert(100%); 
    width: 25px;
    margin: 5px 5px 0px 0px;   
}
p{
  /* margin: 5px 0px 5px 0px; */
  padding: 5px 0px 5px 0px;

}